@font-face {
  font-family: Raleway-Regular;
  src: url('./assets/fonts/static/Raleway-Regular.ttf');
}
@font-face {
  font-family: Raleway-Medium;
  src: url('./assets/fonts/static/Raleway-Medium.ttf');
}
@font-face {
  font-family: Raleway-Bold;
  src: url('./assets/fonts/static/Raleway-Bold.ttf');
}

:root {
  --color-text: #3c3c3c;
  --my-blue: #0085de;
  --my-grey: #4f4f4f;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  font-family: Raleway-Medium, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: var(--color-text);
}

a {
  text-decoration: none;
  font-weight: 600;
  color: var(--my-blue);
}
a:hover {
  color: red;
}
.blue {
  color: var(--my-blue);
}
.container {
  max-width: 1440px;
  margin: 0 auto;
}
.section {
  padding: 10px 10px 30px;
  border-bottom: 3px solid var(--color-text);
}
.section:last-child {
  border: none;
}
.section-title {
  text-align: center;
  text-transform: uppercase;
}
.section-subtitle {
  text-align: center;
  margin-bottom: 20px;
}
.section-list {
  list-style: none;
}
@media (max-width: 768px) {
  .section {
    width: 100%;
  }
}

/* HEADER */
.header-container {
  background: url(./assets/img/bg-fon.jpg) center center/cover no-repeat;
  margin-bottom: 30px;
}

/* NAVBAR */
.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-height: 50px;
  list-style: none;
}
.nav-item .nav-link:hover {
  background: var(--my-blue);
  color: white;
}
.nav-link {
  display: block;
  position: relative;
  padding: 0 12px;
  font-family: Raleway-Bold, sans-serif;
  font-size: 1.1em;
  line-height: 50px;
  letter-spacing: 1px;
  color: var(--color-text);
}
@media (max-width: 740px) {
  .nav-list {
    flex-wrap: wrap;
  }
}

/* header-profile avatar name */
.header-profile {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 50px 30px 35px;
}
.header-avatar {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  box-shadow: 0px 0px 5px 3px var(--my-grey);
}
.header-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.header-title {
  font-size: 3.5em;
}
.header-subtitle {
  font-size: 2em;
}
@media (max-width: 767px) {
  .header-profile {
    flex-direction: column;
    align-items: center;
  }
  .header-title {
    font-size: 2.5em;
  }
  .header-subtitle {
    font-size: 1.5em;
  }
}

/* contacts */
.heder-contacts {
  padding: 0 20px;
  background: var(--my-grey);
}
.contacts-list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  color: white;
}
@media (max-width: 896px) {
  .contacts-list {
    flex-direction: column;
    align-items: flex-start;
  }
}
.list-item {
  display: block;
  padding: 10px 0;
}
address {
  font-style: normal;
}
/* SUMMARRY */
.section-summary p {
  text-indent: 20px;
}
/* MAIN  */
.main-container {
  display: flex;
  flex-direction: column;
}

/* MY SKILL */
.skill-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.progress {
  width: 90%;
  height: 8px;
  background: var(--my-grey);
}
.percent {
  height: 8px;
  background: var(--my-blue);
}
.percent-html {
  width: 80%;
}
.percent-css {
  width: 70%;
}
.percent-js {
  width: 65%;
}
.percent-git {
  width: 60%;
}
.percent-vue {
  width: 60%;
}
.percent-bootstrap {
  width: 50%;
}

/* EDUCATION */
.education {
  display: flex;
  flex-wrap: wrap;
}
.education-university,
.education-courses {
  width: 49%;
  padding: 0 5px;
}
@media (max-width: 760px) {
  .education {
    flex-direction: column;
  }
  .education-university,
  .education-courses {
    width: 100%;
  }
}

/* CODE EXAMPLES */
.code {
  max-width: 100%;
  padding: 1rem;
  background: var(--my-grey);
  color: white;
}
.code pre {
  margin-left: -130px;
}
@media (max-width: 760px) {
  .code pre {
    overflow-x: scroll;
  }
}

/* PROJECTS */
.projects-box {
  display: flex;
  justify-content: space-around;
  width: 100%;
  gap: 10px;
}
.project-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 49%;
  margin-bottom: 20px;
  padding: 5px;
  background: var(--my-grey);
  color: white;
}
.project-card:hover {
  box-shadow: 0 0 7px red;
}
@media (max-width: 768px) {
  .projects-box {
    flex-direction: column;
  }
  .project-card {
    width: 100%;
  }
}
.project-link {
  width: 100%;
}
.project-img {
  width: 100%;
}
.projects-technologies img {
  width: 40px;
}
.button {
  display: inline-block;
  width: 150px;
  height: 45px;
  padding: 10px 14px;
  border: none;
  text-align: center;
  color: var(--color-text);
  background: #ffffff;
  cursor: pointer;
}
/* FOOTER */
.container-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  background: url(./assets/img/bg-fon.jpg) center center/cover no-repeat;
}
.footer-github {
  text-align: center;
}
